header{
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

header ul{
    list-style: none;
    margin: 0;
}
header li{
    display: inline-block;
}

header a{
    color: #5F6368;
    font-weight: 500;
}

img{
    width: 100px;
}

.account{
    background-color: #0097A7;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    width: 35px;
    height: 35px;
}

.accounts-burger{
    font-size: 20px;
    margin-right: 10px;
}

main{
    margin-top: 90px;
}

.question{
    color: #3C4043;
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
}

.faq-container{
    margin: 0 auto;
    width: 1000px;
}

.response-ordered-list{
    padding-left: 1rem;
}

ol li{
    margin: 15px 0;

}

main div{
    font-size: 14.5px;
}

a{
    text-decoration: none;
}

footer{
    background-color: #F5F5F5;
}

footer a{
    color: #626A6F;
    font-size: 12px;
}

select{
    border: 1px solid black;
    width: 150px;
}